version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'daily'
    groups:
      rollup:
        patterns:
          - 'rollup*'
          - '@rollup/*'
      storybook:
        patterns:
          - 'storybook'
          - '@storybook/*'
      testing-library:
        patterns:
          - '@testing-library/*'
      react:
        patterns:
          - 'react'
          - 'react-dom'
          - '@types/react'
          - '@types/react-dom'
      vitest:
        patterns:
          - 'vitest'
          - '@vitest/*'
      size-limit:
        patterns:
          - 'size-limit'
          - '@size-limit/*'

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'daily'
    groups:
      upload-download-artifact:
        patterns:
          - 'actions/upload-artifact'
          - 'actions/download-artifact'
