{
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"],
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "react/jsx-max-props-per-line": ["error", { maximum: 1, when: "multiline" }]
  }
}
